@charset "UTF-8";

body {
    height: 100vh;
    margin: 0;
    color: #333;
}
h2 {
    position: absolute;
    /* background-color: #424040; */
    color: white;
    margin: -8px 0 0 520px;
    padding: 2px 8px 2px 8px;
}
img.center {
    width: 100%;
    height: 600px;
    object-fit: none;
}
img.left {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 30px 0 35%;
}
h1 {
    border-bottom: solid 1px;
    display: inline-block;
    margin: 6% 0 3% 0;
}
.post {
    text-align: center;
}
.post.clearfix1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 500px 0 30px;
}
div#footer {
    text-align: center;
    font-size: 5px;
    padding-bottom: 5px;
    margin-top: 10%;
}
.post.clearfix2 {
    list-style: none;
    margin: 30px;
    display: flex;
    justify-content: center;
}
img.bicycles {
    width: 250px;
    height: auto;
    margin-right: 15px;
    /* padding-inline: 10px; */
}
.font_test {
    font-weight:  bold;
}
p.c {
    text-align: left;
}
ul {
    list-style: none;
    display: flex;
    margin-left: 69%;
    font-size: 15px;
    height: 20px;
}
li {
    /* padding-inline: 12px; */
    padding-right: 20px;
}

/*追加*/
#sort > a {
    text-decoration: none;
    display: block;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

a img {
    width: 100%;
}

li a {
    color: #000000b8;
    text-decoration: none;
}

li a:hover {
    color: #0000005e;
}

div#sort {
    width: 850px;
    margin: 0 auto;
    height: 50px;
    display: flex;
}